.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #1182aa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Marker Felt;

  border-right: 150px solid #80deff;
  border-left: 150px solid #80deff;
  border-top: 25px solid #80deff;
  border-bottom: 25px solid #80deff;
}

#title {
  font-size: 300%;
  font-family: Chalkduster;
}

#input {
  size: 100%;
  font-family: Chalkduster;
}

#alert {
  margin-right: 25%;
  margin-left: 25%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
